body {
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    color: #333;
  }
  
  .navbar {
    background-color: #f8f9fa;
    border-bottom: 1px solid #e7e7e7;
  }
  
  .nav-link {
    color: #555;
  }
  
  .footer {
    padding: 20px 0;
    background-color: #f8f9fa;
    text-align: center;
    border-top: 1px solid #e7e7e7;
  }